/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/


.fundo_azul {
  background-color: #4f7699;
  margin: 0px;
  display: flex;
}

.imagem_instagram {
  position: relative;
  left: 800px;
}

.box {
  float: left;
  margin: 1.858736059%;
  width: 29.615861214%;
}

.box-set{
  display: flex;
}

.img_Phone {
  margin-left: 400px;
  margin-top: 0px;
  background-color: #4f7699;
}

.img_instagram { 
margin-left: 736px;
}


body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0px;
}

.fundo_branco {
  background-color: white;
}

.area {
  background-color: green;
  color: black;
  width: 400px;
  height: 400px;

}
